.form-design input {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  border-bottom: 2px solid skyblue;
}
.form-design input:focus {
  outline: none;
}

.alert {
  background-color: blueviolet;
}

.submit-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.submit-icon img {
  width: 75px;
}
