.bg-t {
  background-color: rgba(6, 6, 41, 0.774);
}

.box-design {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 98%;
  min-height: 80vh;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.tittle {
  color: #dcbb87;
  margin-bottom: 25px;
}

.d-from {
  width: 80%;
}

.d-from input {
  border-bottom: 2px solid cyan;
  padding: 10px;
}
.d-from input:focus {
  outline: none;
}

.d-from button {
  width: 100%;
  background: cyan;
  padding: 7px 0;
  border-radius: 5px;
}

.d-from button:hover {
  background: greenyellow;
  transition: 0.5s all;
}
