.logo-design {
  width: 100px;
  margin-right: 20px;
}

.link-design {
  text-transform: uppercase;
  padding: 5px 10px;
  position: relative;
  color: #ffffff;
}

.link-design:hover {
  color: black;
  font-weight: bold;
}

.link-design::after {
  content: " ";
  background-color: #ffffff;
  transition: 0.3s;
  height: 0;
  width: 100%;
  left: 0;
  position: absolute;
}

.link-design:hover::after {
  height: 100%;
  z-index: -1000;
}

.header-de {
  background-color: #000527;
  color: #191a1d;
  margin-right: auto;
  z-index: 1000;
}

.dropdown-toggle::after {
  border-top: 0.3rem solid #191a1d;
  position: absolute;
  right: 0;
}

.text-color {
  color: #191a1d;
}

.btn-all {
  padding: 0.3rem 1rem;
  background-color: #191a1d;
  border: solid #191a1d;
  border-radius: 10px;
  font-weight: 600;
  color: white;
}

.btn-all:hover {
  background-color: white;
  border-radius: 25px;
  border: solid #191a1d;
  font-weight: 600;
  color: #191a1d;
  transition: 0.5s ease-in-out;
}

.link-de {
  text-decoration: none;
  color: white;
}

.link-de:hover {
  color: #191a1d;
}
